* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana,serif;
    background: #fff;
}
a {
    color: #2980b9
}
textarea, select {
    border: 1px solid #95a5a6;
    outline: none;
}
.container {
    width: 850px;
    margin: 0 auto;
    margin-top: 50px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.form {
    width: 500px;
}
.image {
    width: 300px;
    line-height: 300px;
    height: 300px;
    text-align: center;
}
.clear {
    clear: both;
}
.settings {
    margin-top: 10px;
}
.settings div {
    margin-right: 10px;
}
.settings select {
    height: 40px;
    line-height: 40px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
}
#qr {
    display: none;
    margin-top: 13px;
}
#info {
    padding: 20px 0;
    color: #e74c3c;
}
textarea[name=text] {
    height: 200px;
    max-width: 480px;
    min-width: 480px;
    width: 480px;
    padding: 10px;
}
button[name=submit] {
    height: 40px;
    padding: 0 10px;
    background: #3498db;
    border: none;
    outline: 1px solid #2980b9;
    margin-top: 16px;
    color: #fff;
}
button[name=submit]:hover {
    opacity: .9;
}